APP_ENV=development
DEBUG=true

SUPABASE_URL=tu-url-de-supabase
SUPABASE_ANON_KEY=tu-anon-key
SUPABASE_SERVICE_KEY=tu-service-key

# MinIO
MINIO_ENDPOINT=tu_vps_ip:9000
MINIO_ACCESS_KEY=tu_access_key
MINIO_SECRET_KEY=tu_secret_key
MINIO_USE_SSL=false
MINIO_BUCKET_VIDEOS=aironvision-videos
MINIO_BUCKET_DATA=aironvision-data
